{% extends 'console/base.html' %}
{% load bootstrap3 %}

{% block title %}配置文件管理{% endblock %}

{% block base_extra_head %}
    <link href="{% bootstrap_datatables_plugins_url %}dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{% bootstrap_datatables_responsive_url %}dataTables.responsive.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    配置文件管理
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="toolbar"></div>
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-configFileManage">
                        <thead>
                            <tr>
                                <th style="width:30px; padding:10px 0 10px 8px"><input type="checkbox" id="checkAll"></th>
                                <th>目录及文件</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}

{% block base_extra_script %}
    <script src="{% bootstrap_datatables_url %}js/jquery.dataTables.js"></script>
    <script src="{% bootstrap_datatables_plugins_url %}dataTables.bootstrap.js"></script>
    <script src="{% bootstrap_datatables_responsive_url %}dataTables.responsive.js"></script>
    <script src="/static/dist/js/configFileManage.js"></script>
{% endblock %}