{% extends 'console/bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% bootstrap_metisMenu_url %}metisMenu.css" rel="stylesheet" type="text/css">
    <link href="{% bootstrap_fontAwesome_url %}" rel="stylesheet" type="text/css">
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="{% bootstrap_datatables_plugins_url %}dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{% bootstrap_datatables_responsive_url %}dataTables.responsive.css" rel="stylesheet" type="text/css">
    {% block base_extra_head %}{% endblock %}
{% endblock %}

{% block bootstrap3_content %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">自动化运维平台</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{% url 'indexView' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> 配置文件管理<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'configFileManage' %}">配置文件管理</a>
                                </li>
                                <li>
                                    <a href="{% url 'templatesManage' %}">模版管理</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% block content %}(no content){% endblock %}
        </div>
    </div>
{% endblock %}
{% block bootstrap3_extra_script %}
    <script src="{% bootstrap_metisMenu_url %}metisMenu.min.js"></script>
    <script src="{% bootstrap_layer_url %}"></script>
    <script src="/static/dist/js/console-extends.js"></script>
    <script src="{% bootstrap_datatables_url %}js/jquery.dataTables.js"></script>
    <script src="{% bootstrap_datatables_plugins_url %}dataTables.bootstrap.js"></script>
    <script src="{% bootstrap_datatables_responsive_url %}dataTables.responsive.js"></script>
    {% block base_extra_script %}{% endblock %}
    {% block self_script %}{% endblock %}
    <script src="/static/dist/js/sb-admin-2.js"></script>
{% endblock %}
