{% extends 'console/bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="/static/dist/css/global.css" rel="stylesheet">
    <link href="{% bootstrap_metisMenu_url %}metisMenu.css" rel="stylesheet" type="text/css">
    <link href="{% bootstrap_fontAwesome_url %}" rel="stylesheet" type="text/css">
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="{% bootstrap_datatables_plugins_url %}dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{% bootstrap_datatables_responsive_url %}dataTables.responsive.css" rel="stylesheet" type="text/css">
    <link href="/static/dist/css/skin-LS-v1.css" rel="stylesheet">

    {% block base_extra_head %}{% endblock %}
{% endblock %}

{% block bootstrap3_content %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">
                    <img src="/static/dist/images/logo.png" alt="自动化运维平台" />
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>

        <div class="navbar-default sidebar" role="navigation">
            <ul class="sidebar-nav navbar-collapse nav" id="side-menu">
                <!-- <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                </li> -->
               <!--  <li>
                    <a href="{% url 'indexView' %}"><i class="fa fa-dashboard fa-fw"></i> 自动化运维平台</a>
                </li> -->
                <li class="active">
                    <a href="#">
                        <span class="icon nav-icon"></span>配置文件管理
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'configFileManage' %}">配置文件管理</a>
                        </li>
                        <li>
                            <a href="{% url 'templatesManage' %}">模版管理</a>
                        </li>
                    </ul>
                </li>
                <li id="hostManage_li">
                    <a href="#">
                        <span class="icon nav-icon"></span>主机管理
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'hostManage' %}" id="hostManage_a">主机概览</a>
                        </li>
                    </ul>
                </li>
                <li id="hostgroupManage_li">
                    <a href="#">
                        <span class="icon nav-icon"></span>分组管理
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'hostManage' %}" id="hostgroupManage_a">分组概览</a>
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="icon nav-icon"></span>内网检测
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="http://192.168.250.171:8000/disconf/" target="_blank">内网检测列表配置</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="icon nav-icon"></span>ZK可视化
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="http://192.168.250.62:9090" target="_blank">开发环境（qa）</a>
                        </li>
                        <li>
                            <a href="http://192.168.250.62:9091" target="_blank">性能测试环境</a>
                        </li>
                        <li>
                            <a href="http://114.67.58.173:9090" target="_blank">生产环境</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            {% block content %}(no content){% endblock %}
        </div>
    </div>
{% endblock %}
{% block bootstrap3_extra_script %}
    <script src="{% bootstrap_metisMenu_url %}metisMenu.min.js"></script>
    <script src="{% bootstrap_layer_url %}"></script>
    <script src="/static/dist/js/console-extends.js"></script>
    <script src="/static/base64/jbase64.js"></script>
    <script src="{% bootstrap_datatables_url %}js/jquery.dataTables.js"></script>
    <script src="{% bootstrap_datatables_plugins_url %}dataTables.bootstrap.js"></script>
    <script src="{% bootstrap_datatables_responsive_url %}dataTables.responsive.js"></script>
    {% block base_extra_script %}{% endblock %}
    {% block self_script %}{% endblock %}
    <script src="/static/dist/js/sb-admin-2.js"></script>
{% endblock %}
