{% extends 'console/base.html' %}
{% load bootstrap3 %}
{% block title %}分组概览{% endblock %}
{% block content %}
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="toolbar">
            <a class="btn emphasize-btn red-gradient-btn" href="javascript:void(0)" id="addHost">
                添加分组
            </a>
        </div>
        <br/>
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-hostgroupList">
        </table>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}
{% block self_script %}
<script src="/static/dist/js/hostgroup/hostgroupManage.js"></script>
{% endblock %}
